.testimonial-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.testimonial-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.3rem;
  color: white;
}

.test-texts {
  font-size: 18px;
  margin-bottom: 2.3rem;
  justify-content: center;
  text-align: center;
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.card {
  background: #220761;
  color: #ffff;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  height: 290px;
  cursor: pointer;
}

.card-top {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card-top h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-top>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 1rem;
}

.card-top span {
  display: flex;
  flex-direction: row;
}

.card-top .down {
  margin-left: 1rem;
}

.card-top .down p {
  font-size: 12px;
}

.card-bottom {
  margin: 25px 15px 5px 15px;
  display: flex;
  flex-direction: row;
}

.card-bottom p {
  font-size: 15px;
  margin-left: 0.5rem;
}


@media (max-width: 500px) {
  .testimonial-section {
    margin-top: 2.7rem;
  }

  .testimonial-title {
    font-size: 18px;
    width: 100%;
    color: white;
  }

  .test-texts {
    font-size: 14px;
  }

  .card {
    height: 340px;
    overflow: hidden;

  }

  .card-bottom p {
    font-size: 14px;
    margin-left: 0.1rem;
    margin-bottom: 0.5rem;
  }
}

@media (width: 540px) {
  .testimonial-section {
    margin-top: 5rem;
    width: 95%;
  }
}

@media (min-width: 767px) and (max-width: 914px) {
  .testimonial-section {
    margin-top: 5rem;
  }

  .testimonial-title {
    margin-bottom: 2.4rem;
  }

  .card {
    height: 370px;
  }
}

@media (width: 1024px) {
  .card {
    height: 305px;
  }

}

@media (width: 1280px) {
  .testimonial-section {
    margin-top: 4.5rem;
  }

  .card {
    height: 300px;
  }
}